<template>
  <div v-if="!!error">
    <p>Something went wrong! {{ error }}</p>
  </div>
  <slot v-else></slot>
</template>

<script>
import { ref, onErrorCaptured } from 'vue'

export default {
  setup() {
    const error = ref(null)
    onErrorCaptured((e) => {
      error.value = e
    })
    return {
      error,
    }
  },
}
</script>

<style></style>
