<template>
  <Navigation />
  <ErrorBoundary>
    <section role="main" class="grid grid-cols-3 grid-rows-2 gap-8 m-8">
      <article class="flex flex-col justify-around">
        <h1 class="font-title">What is This for?</h1>
        <p>
          We're tripping over tools to plan your day, here's one to review what
          you've accomplished because about 2 hours into your day the todo list
          already wasn't the plan.
        </p>
        <p class="self-end">{{ doneCount }} Things done in total, Well Done!</p>
      </article>
      <Done type="editable" class="col-span-2" @newDone="addDone" />

      <article v-if="recent" class="flex flex-col justify-center">
        <h2 class="font-title">Recently Done</h2>
        <p>{{ formatDateSpan(interval) }} you did:</p>

        <p class="mt-4 col-span-3">
          TODO: Related to this items tags in list below"
        </p>
      </article>
      <p v-else class="col-span-2">Write something down!</p>
      <Done
        v-if="dones.list.length"
        type="horizontal"
        class="col-span-2"
        v-bind="recent"
      />
      <p v-else class="col-span-2">Write something down!</p>

      <article>
        <h1 class="mb-2 font-title">Tag list</h1>
        <p>TODO: select tags to filter dones shown here</p>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          v-for="tag in dones.tags"
        >
          #{{ tag }}
        </span>
        <p>See all dones -></p>
      </article>
      <Done
        class="grid-self-center"
        type="small"
        v-for="d in sortedDones"
        v-bind="d"
        :key="d.title"
      />
    </section>
  </ErrorBoundary>
</template>

<script>
import Navigation from './components/Navigation.vue'
import Done from './components/Done.vue'
import ErrorBoundary from './components/ErrorBoundary.vue'
import { reactive, computed, onBeforeMount } from 'vue'
import { doneStore } from './store/done'

function formatDateSpan(span) {
  // TODO: Component candidate
  const seconds = span / 1000
  const hours = seconds / 3600
  const days = Math.round(hours / 24)
  switch (days) {
    case 0:
      return `Today`
      break
    case 1:
      return `Yesterday`
      break
    default:
      return `${days} Days ago`
      break
  }
}

function sortDate({ datetime: a }, { datetime: b }) {
  return b.getTime() - a.getTime()
}

export default {
  components: {
    ErrorBoundary,
    Navigation,
    Done,
  },
  setup() {
    onBeforeMount(async () => {
      await doneStore.init()
    })

    const dones = doneStore.getState()

    const recent = computed(() => {
      if (dones.list.length > 1) {
        let lastItem = dones.list.reduce((prev, curr) => {
          let a = prev.datetime.getTime()
          let b = curr.datetime.getTime()
          return a > b ? prev : curr
        })
        return lastItem
      }
    })

    const sortedDones = computed(() => {
      return dones.list.map((copy) => copy).sort(sortDate)
    })

    const interval = computed(() => {
      if (recent.value) {
        let time = recent.value.datetime.getTime()
        const span = Date.now() - time
        return span
      }
    })

    const doneCount = computed(() => {
      return dones.list.length
    })

    function addDone(item) {
      doneStore.add(item)
    }

    return {
      dones,
      sortedDones,
      recent,
      interval,
      formatDateSpan,
      doneCount,
      addDone,
    }
  },
}
</script>
